:host {
  display: block;
}

aside {
  max-height: 100vh;
  overflow-y: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #b1122d #f5f5f5;
}

aside::-webkit-scrollbar {
  width: 8px;
}
aside::-webkit-scrollbar-thumb {
  background: #b1122d;
  border-radius: 4px;
}
aside::-webkit-scrollbar-track {
  background: #f5f5f5;
}

button {
  font-family: inherit;
}
